[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
psycopg2 = "*"
gunicorn = "*"
crypto = "*"
pycryptodome = "*"

[requires]
python_version = "3.8"
